<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .normal-button {
            margin-bottom: 50px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
        .table {
            width: 100%;
        }
    </style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<div class="container text-center">
    <div class="col">
        <table class="table">
            <tbody>
            <tr>
                <th></th>
                <th>보낸 사람</th>
                <th>Email</th>
                <th>요청 상태</th>
                <th></th>
            </tr>
            <tr th:each="request : ${requestList}">
                <td><img th:src="|/user/profile/${request.storeProFileName}|" width="50" height="50" role="button" th:id="${request.storeProFileName}" class="profile" onclick="showProfile(this.id)"/></td>
                <td th:text="${request.title}"></td>
                <td th:value="${request.email}" th:text="${request.email}" th:id="'getEmail'+${request.userRequestId}"></td>
                <td th:text="${request.status}"></td>
                <td>
                    <form th:action="|/meeting/success/${request.userRequestId}|" method="POST">
                        <button th:if="${request.status.name() == 'WAIT'}" class="btn btn-outline-primary" type="submit">
                            수락
                        </button>
                        <button th:if="${request.status.name() == 'WAIT'}" class="btn btn-outline-primary" type="submit"
                                th:onclick="|/meeting/fail/${request.userRequestId}|">
                            거절
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--th:onclick="window.open('http://localhost:8080/user/${request.email}','test','width=500,height=600,resizable=no')"-->
</body>
<script th:inline="javascript">

    window.onload = function () {
        if ([[${errorCode}]] == "RoomAlreadyExist") {
            alert("나 또는 상대방의 미팅이 이미 진행중입니다");
        }
    };
function getId(id){
	return document.getElementById(id);
}

<!--var email = document.getElementById('getEmail1').innerHTML;-->


function showProfile(this_id) {
        window.open('/user/profileClick/'+this_id,"","width=500px,height=635px, left=100px, top=100px;");
}


</script>
</html>