<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .normal-button {
            margin-bottom: 50px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
        .table {
            width: 100%;
        }
    </style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<div class="container text-center">
    <div class="col">
        <table class="table">
            <tbody>
            <tr>
                <th>받은 사람</th>
                <th>요청 상태</th>
                <th></th>
            </tr>
            <tr th:each="request : ${requestList}">
<!--                <td><img th:src="|/user/profile/${request.storeProFileName}|" width="200" height="200"/></td>-->
                <td th:text="${request.title}"></td>
                <td th:text="${request.status}"></td>
                <td>
                    <form th:action="|/meeting/fail/${request.userRequestId}|" method="post">
                        <button th:if="${request.status.name() == 'WAIT'}" class="btn btn-outline-primary" type="submit">
                            취소
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>