<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .normal-button {
            margin-bottom: 50px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
        .table {
            width: 100%;
            border: 1px solid;
        }
    </style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<div class="container text-center">
    <div class="col">
        <table class="table">
            <tbody>
                <tr>
                    <th></th>
                    <th>이름</th>
                    <th>나이</th>
                    <th>키</th>
                    <th>mbti</th>
                    <th>학교</th>
                    <th>소개</th>
                    <th></th>
                </tr>
                <tr th:each="user : ${userList}">
                    <td><img th:src="|/user/profile/${user.storeProfileName}|" width="300" height="300"/></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.height}"></td>
                    <td th:text="${user.mbti}"></td>
                    <td th:text="${user.univName}"></td>
                    <td th:text="${user.intro}">
                    <td>
                        <form th:action="|/meeting/requestSoloTing/${user.email}|" method="post">
                            <button th:if="${user.requested == false}" class="btn btn-outline-primary" type="submit">
                                신청
                            </button>
                            <button th:if="${user.requested == true}" class="btn btn-outline-primary" type="submit" disabled>
                                신청 완료
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="normal-button">
            <form th:action="@{/user/list}" th:object="${userSearch}" method="get" style="display: flex;">
                <div class="col-auto form-group" style="flex: 1;">
                    <label class="sr-only" th:for="heightMin"></label>
                    <input type="number" th:field="*{heightMin}" class="form-control mb-2" placeholder="최소 키">
                </div>
                <div class="col-auto form-group" style="flex: 1;">
                    <label class="sr-only" th:for="heightMax"></label>
                    <div class="input-group mb-2">
                        <input type="number" th:field="*{heightMax}" class="form-control"  placeholder="최대 키">
                    </div>
                </div>
                <div class="col-auto form-group" style="flex: 1;">
                    <label class="sr-only" th:for="ageMin"></label>
                    <input type="number" th:field="*{ageMin}" class="form-control mb-2" placeholder="최소 나이">
                </div>
                <div class="col-auto form-group" style="flex: 1;">
                    <label class="sr-only" th:for="ageMax"></label>
                    <div class="input-group mb-2">
                        <input type="number" th:field="*{ageMax}" class="form-control"  placeholder="최대 나이">
                    </div>
                </div>
                <div class="col-auto form-group" style="flex: 1;">
                    <label class="sr-only" th:for="mbti"></label>
                    <select class="form-select mb-2" th:field="*{mbti}">
                        <option value="">MBTI 선택</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="INFP">INFP</option>
                        <option value="INTP">INTP</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTJ">ENTJ</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <div class="normal-button">
            <form th:action="@{/user/stop}" method="post">
                <button class="btn btn-outline-primary" type="submit">
                    개인 미팅 퇴장
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>