<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .normal-button {
            margin-bottom: 50px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
    </style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<!-- 여기 -->
<div class="container text-center">
    <div class="col">
        <table class="table table-striped">
            <tbody>
                <tr th:each="user : ${userList}">
                    <td><img th:src="|/user/profile/${user.storeProfileName}|" width="300" height="300"/></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.height}"></td>
                    <td th:text="${user.mbti}"></td>
                    <td th:text="${user.univName}"></td>
                    <td th:text="${user.intro}"></td>
                </tr>
            </tbody>
        </table>
        <div class="normal-button">
            <form th:action="@{/user/stop}" method="post">
                <button class="btn btn-outline-primary" type="submit">
                    개인 미팅 퇴장
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>