<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    /* 꾸미기 */
    .hero {
        margin-bottom: 50px;
    }
    .login-button {
        margin-bottom: 50px;
    }
    .my-button {
        font-size: 30px;
        padding: 20px 40px;
    }
    .my-bottom{
        margin-bottom: 100px;
    }
     .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<!-- 여기 -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center mb-4">로그인</h3>
            <form action="/login" th:object="${loginForm}" th:action method="POST">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">전체 오류 메시지</p>
                </div>
                <div class="form-group">
                    <label th:for="email">이메일</label>
                    <input type="text" class="form-control" th:field="*{email}" required th:errorclass="field-error">
                    <div class="field-error" th:errors="*{email}" />
                </div>
                <div class="form-group">
                    <label th:for="password">비밀번호</label>
                    <input type="text" class="form-control" th:field="*{password}" required th:errorclass="field-error">
                    <div class="field-error" th:errors="*{password}" />
                </div>
                <div class="my-bottom">
                    <button type="submit" class="btn btn-primary btn-block mt-4">로그인</button>
                    <button  class="btn btn-primary btn-block mt-4" type="button"
                             th:onclick="|location.href='@{/user/add}'|">회원가입
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>