<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .normal-button {
          margin-bottom: 100px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
        .unAuthorized {
            color:red;
        }
    </style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="hero bg-dark text-center py-5">
  <h1 class="text-white">YouthTing</h1>
  <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<!-- 여기 -->
<div class="container text-center">
  <h1>Welcome to My Page</h1>
  <img th:src="|/user/profile/${myData.storeProfileName}|" width="300" height="300"/>
  <p>Name: <span th:text="${myData.name}"></span></p>
  <p>Height: <span th:text="${myData.height}"></span></p>
  <p>MBTI: <span th:text="${myData.mbti}"></span></p>
  <p>School: <span  th:if="${myData.authorized}==true" th:text="${myData.univName}"></span>
             <span  th:if="${myData.authorized}==false" class="unAuthorized" th:text="미인증자"></span></p>
  <p>Email: <span th:text="${myData.email}"></span></p>
  <p>Password: <span th:text="${myData.password}"></span></p>
  <p>Introduction: <span th:text="${myData.intro}"></span></p>
  <a href="#" th:href="@{/}" class="btn btn-primary normal-button" role="button">수정</a>
</div>
</body>
</html>