<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
        /* 꾸미기 */
        .pict {
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .normal-button {
          margin-bottom: 100px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
    </style>
<body>
<div class="container text-center">
    <img th:src="|/user/profile/${soloUser.storeProfileName}|" width="300" height="300" class="pict"/>
    <p>Name: <span th:text="${soloUser.name}"></span></p>
    <p>UnivName: <span th:text="${soloUser.univName}"></span>
    <p>Height: <span th:text="${soloUser.height}"></span></p>
    <p>MBTI: <span th:text="${soloUser.mbti}"></span></p>
    <p>Email: <span th:text="${soloUser.email}"></span></p>
    <p>Introduction: <span th:text="${soloUser.intro}"></span></p>
</div>
</body>
</html>