<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .login-button {
            margin-bottom: 50px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
    </style>
<body>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<!-- 여기 -->
<div class="container text-center">
    <div class="col">
        <div class="login-button">
            <button class="btn btn-outline-primary my-button" type="button"
                    th:onclick="|location.href='@{/login}'|">로그인
            </button>
        </div>
        <div class="join-button">
            <button  class="btn btn-outline-primary my-button" type="button"
                    th:onclick="|location.href='@{/user/add}'|">회원가입
            </button>
        </div>
    </div>
</div>

</body>
</html>