<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
        /* 꾸미기 */
        .hero {
            margin-bottom: 50px;
        }
        .normal-button {
            margin-bottom: 50px;
        }
        .my-button {
            font-size: 30px;
            padding: 20px 40px;
        }
    </style>
<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div class="hero bg-dark text-center py-5">
    <h1 class="text-white">YouthTing</h1>
    <h2 class="text-white">대학생들을 위한 미팅 서비스</h2>
</div>
<!-- 여기 -->
<div class="container text-center">
    <div class="col">
        <div class="normal-button">
            <button class="btn btn-outline-primary my-button" type="button"
                th:onclick="|location.href='@{/user/start}'|">개인 미팅</button>
        </div>
        <div class="normal-button">
            <button class="btn btn-outline-primary my-button" type="button"
                th:onclick="|location.href='@{/group/start}'|">그룹 미팅</button>
        </div>
        <div class="join-button">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-outline-primary my-button" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    window.onload = function () {
        if ([[${errorCode}]] == "noRoom") {
            alert("진행중인 미팅이 없습니다.");
        }
    };
</script>
</html>